<div style="display: flex;">
  <div style="width: 50%">
    <div *ngIf="username">Username:{{ username }}</div>
    <h1>CHAT</h1>
    <div style="height:200px">
      <div class="chatHeader">
        <div class="chatMessage" *ngFor="let line of chatArr">{{ line.from }}: {{ line.message }} | at {{line.time |
          date}}
        </div>
      </div>
      <div class="chatBotton">
        <textarea (keyup.enter)="send(message.value); message.value = ''" #message></textarea>
        <div>
          <button (click)="send(message.value)">send to all</button>
        </div>
        <div>
          <button (click)="sendToUser(message.value)" *ngIf="user_selected">send to {{ users_connected[user_selected]
            }}</button>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 50%">
    <h3>Connected users</h3>
    <div [ngStyle]="{'color': ( id == userID) ? 'red': 'black'}" *ngFor="let userID of usersIDs"
      (click)="user_selected = userID">
      {{ users_connected[userID] }}
    </div>
  </div>