
<div *ngIf="false">
  <ul>
    <li *ngFor="let item of toDoList">
      <input type="checkbox" id="item.name" (click)="item.done = true" />
      <label>{{ item.name }}</label>
    </li>
  </ul>
</div>
<div>
  <router-outlet></router-outlet>
</div>