<div>
    <label>
        Enter user name:
    </label>
</div>
<div>
    <input name="username" (keyup.enter)="letsChat(username.value)" [formControl]="username" />
</div>
<div>
    <button (click)="letsChat(username.value)" [disabled]="username.errors != null">let's chat!</button>
</div>